<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='script.js') }}">
</head>
<body>
    <h1>Lista de Tarefas</h1>
 
    <input type="text" id="tarefaInput" placeholder="Digite uma tarefa">
    <input type="date" id="dataConclusao" placeholder="Selecione a data de conclusão">
    <button id="adicionarTarefa">Adicionar</button>
 
    <ul id="listaTarefas"></ul>
 
    <script src="script.js"></script>
</body>
</html>